# Ignore virtual environment
venv/
__pycache__/
*.pyc

# Ignore environment variables
.env

# Ignore dataset and indexes (large files)
data/
indexes/

# Ignore Jupyter notebook checkpoints
.notebooks/
.ipynb_checkpoints/
